body{
    background: rgb(22, 21, 21);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  }
  .header{
    background-color: var(--color-transparent-dark-1);
    background: rgb(14, 14, 14);
    grid-column: span 2;
    height: var(--heightHeader);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 98%;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    padding: 0 0.5rem;
    -webkit-box-shadow: 0 0 10px var(--color-transparent-dark);
    box-shadow: 0 0 10px var(--color-transparent-dark);
    z-index: 4;
  }
  .main-title{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem
  }
  .main-title label{
    color: white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .header_btn{
    padding: 1rem;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(22, 21, 21);
  }
  .header_btn:hover{
    color: lightblue;
    transition: 3s;
  }
  .header_btn a{
    color:white;
  }
  .header_btn a:hover{
    color:rgb(0, 0, 0);
    transition:.3s;
  }
  .menu {
    position: relative;
    width: 10%;
    height: 100%;
  }

  .boton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff0000;
    color: #fff;
  }

  .boton .active {

  }

  .menu_wrapper {
        background-color: var(--color-transparent-dark-1);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(100vh - var(--heightHeader));
        width: var(--widthSilebar);
        top: 0;
        left: 0;
        border: 2px solid black;
        overflow-x: hidden;
  }
  .menu_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
    min-height: 3.5rem;
    width: 100%;
    padding: 0;
    margin: 0.2rem 0;
    cursor: pointer;
  }
  .menu{
    position: absolute;
  }
  .foto{
   width: 900px;
   height:45px;
   background-color: rgb(70, 33, 172);
   border: 1px solid black;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   margin-top: 40px;
  }
  .foto .h2{
   text-align: left;
  }
  .caja{
   width: 900px;
   height: 170px;
   background-color: rgb(90, 97, 128);
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   display: flex;
   justify-content: start;
   margin: auto;
   align-items: center;
  }
  .caja .perfil{
   margin-left: 70px;
   margin-right: 10px;
   width: 140px;
   height: 120px;
  }
  .troll{
   width: 1px;
   height: 170px;
   background-color: black;
  }
  .caja label{
   margin-left: 20px;
   font-size: 18px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .caja .editar{
   margin-bottom: 120px;
   margin-left: 20px;
   margin-right: 10px;
  }
  footer .contenedor{
   background: rgb(10, 10, 10);
   width: 100%;
   height: 280px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   margin-top: 300px;
  }
  footer .contenedor h2{
    color: rgb(92, 88, 88);
    height: 30px;
  }
  footer .titulo{
    display: flex;
    justify-content: center;
  }
  footer .contenedor .contactos{
    width: 400px;
    height: 280px;
  }
  footer .contenedor .fotos{
    display: flex;
    justify-content: space-evenly;
    max-width: 200px;
    margin: auto;
  }
  footer .derechos{
    color: rgb(92, 88, 88);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 18px;
  }
  footer .donaciones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    font-size: 18px;
  }
  footer .donaciones a{
    color: rgb(92, 88, 88);
  }
  
  